@using Betfair.ExchangeComparison.Pages.Models;
@using Betfair.ExchangeComparison.Domain.Extensions;
@model IGrouping<string, BestRunner>
@{
    var winOrEachWay = ViewData["WinOrEachWay"] as string;
}

<div class="col-12">
    <div class="m-2 p-1 bg-secondary border rounded">
        <h6 class="text-orange">@Model.Key.Substring(0, @Model.Key.Length - 8)</h6>

        @foreach (var groupedRunner in @Model.GroupBy(r => r.MarketDetail.marketStartTime.ConvertUtcToBritishIrishLocalTime()))
        {
            <div class="mt-2">
                <span class="text-dark">@groupedRunner.Key.ToString("HH:mm")</span> -
                <span class="text-info">@groupedRunner.First().NumberOfPlaces</span>
                <span class="text-info">1/@groupedRunner.First().PlaceFractionDenominator</span>
            </div>

            @foreach (var bestRunner in @groupedRunner.OrderByDescending(r => r.ExpectedValueWin))
            {
                if (winOrEachWay == "Win")
                {
                    @await Html.PartialAsync("/Pages/Shared/Partials/BestWinRunnerPartial.cshtml", bestRunner)
                }
                else
                {
                    @await Html.PartialAsync("/Pages/Shared/Partials/BestEachWayRunnerPartial.cshtml", bestRunner)
                }
            }
        }
    </div>
</div>