@model Betfair.ExchangeComparison.Pages.Models.BestRunner;
@{
    var ev = (@Model.ExpectedValueWin + 1);
    var bgColor = "";
    var expectedPriceWithoutMargin = (((Model.ExpectedPrice - 1) * 1.02) + 1);
    var expectedPriceColor = Model.SportsbookRunner.winRunnerOdds.@decimal > expectedPriceWithoutMargin ?
        "text-lime" : "text-black";


    string renderReason = string.Empty;

    if (Model.Sport == Domain.Enums.Sport.Racing)
    {
        if (Model.TimeToStart.Hours > -1 && Model.TimeToStart.Minutes > -45)
        {
            if (Model.ExchangeWinBestPinkRequestedLiability < 500)
            {
                renderReason = $"{Model.SportsbookRunner.selectionName} <{Math.Abs(Model.TimeToStart.Minutes)} MTR, <500";
            }
        }
        else if (Model.TimeToStart.Hours <= -6)
        {
            if (Model.ExchangeWinBestPinkRequestedLiability < 250)
            {
                renderReason = $"{Model.SportsbookRunner.selectionName} >{Math.Abs(Model.TimeToStart.Hours)} HTR, <200";
            }
        }
        else if (Model.ExchangeWinBestPinkRequestedLiability < 100)
        {
            renderReason = $"{Model.SportsbookRunner.selectionName} -ve EV, <150";
        }

        bgColor =
             Model.TimeToStart.Hours > -1 && Model.TimeToStart.Minutes >= -45 ? "bg-neutral" : 
             Model.TimeToStart.Hours <= -6 ? "bg-neutral" :
             (Model.SportsbookRunner.winRunnerOdds.@decimal > 31) ? "bg-neutral" :
        ev <= 0.98 ? "bg-danger" :
        (Model.ExchangeWinBestBlue > expectedPriceWithoutMargin) && Model.ExchangeWinBestPinkSize > 5 ? "bg-midnight" :
        ev >= 1 || (ev >= 0.992 &&
            Model.ExchangeWinBestBlue < Model.SportsbookRunner.winRunnerOdds.@decimal &&
            Model.ExchangeWinBestPinkSize > 10) ? "bg-success" :
        (ev > 0.98) ? "bg-primary" :
        "bg-dark";
    }
    else
    {
        bgColor =
        ev <= 0.98 ? "bg-danger" :
        ev >= 1 || (ev >= 0.992 &&
            Model.ExchangeWinBestBlue < Model.SportsbookRunner.winRunnerOdds.@decimal &&
            Model.ExchangeWinBestPinkSize > 10) ? "bg-success" :
        (ev > 0.98) ? "bg-primary" :
        "bg-dark";
    }

}
@if (string.IsNullOrEmpty(renderReason))
{
    <div class="border border-dark rounded text-lg text-white @bgColor m-1 p-1">
        @Model.SportsbookRunner.selectionName
        <span class="text-lime"> @Model.WinnerOddsString </span>
        <span class="@expectedPriceColor">@expectedPriceWithoutMargin.ToString("0.00") </span>
        [
        <span class="text-lightblue">@Model.ExchangeWinBestBlue.ToString("0.00")</span> :
        <span class="text-pink">@Model.ExchangeWinBestPink.ToString("0.00") </span>
        <small class="text-orange">@Model.ExchangeWinBestPinkSize.ToString("0.00")</small>
        ]  
        <span>@ev.ToString("0.0%") </span>
        <small class="text-pink">@Model.LastPriceTraded.ToString("0.00") </small>
        <small class="text-orange">@Model.VolumeTradedBelowSportsbook.ToString("0.00") </small>
        <small class="text-lightblue">@Model.Bookmaker.ToString().ToLower().Substring(0, 2) </small>&nbsp
    </div>
}
else
{
    <div class="border border-dark rounded text-lg text-lightblue bg-neutral m-1 p-1">

    </div>
}
