@model Betfair.ExchangeComparison.Pages.Models.BestRunner;
@{
    var ev = (@Model.ExpectedValueWin + 1);
    var bgColor = ev <= 0.98 ?
        "bg-danger" :
            ev >= 1 || (ev > 0.98 && Model.ExchangeWinBestBlue < Model.SportsbookRunner.winRunnerOdds.@decimal) ? "bg-success" :
            (ev > 0.98) ? "bg-primary" :
            "bg-dark";
}
<div class="border border-dark rounded text-lg text-white @bgColor m-1 p-1">
    @Model.SportsbookRunner.selectionName
    <span class="text-lime"> @Model.WinnerOddsString </span>
    [
    <span class="text-lightblue">@Model.ExchangeWinBestBlue.ToString("0.00")</span> :
    <span class="text-pink">@Model.ExchangeWinBestPink.ToString("0.00") </span>
    <small class="text-orange">@Model.ExchangeWinBestPinkSize.ToString("0.00")</small>
    ]  
    <span>@ev.ToString("0.0%") </span>
    <small class="text-pink">@Model.LastPriceTraded.ToString("0.00") </small>
    <small class="text-orange">@Model.VolumeTradedBelowSportsbook.ToString("0.00") </small>
    <small class="text-lightblue">@Model.Bookmaker.ToString().ToLower().Substring(0, 2) </small>
</div>