@model Betfair.ExchangeComparison.Pages.Models.BestRunner;
@{
    var ev = @Model.ExpectedValueEachWay;
    var bgColor = ev <= 0.97 && Model.VolumeTradedBelowSportsbook > 0 ?
        "bg-danger" :
            ev >= 1 || (ev >= 0.98 && Model.VolumeTradedBelowSportsbook > 0) ? "bg-success" :
            (ev >= 0.98) ? "bg-primary" :
            "bg-dark";
}

<div class="border border-dark rounded text-lg text-white @bgColor m-1 p-1">
    @Model.SportsbookRunner.selectionName
    <span class="text-lime"> @Model.WinnerOddsString </span>
    <span class="text-lime">@Model.PlacePartOddsString </span>
    [<span class="text-pink">@Model.ExchangeWinBestPink:F</span> :
    <span class="text-pink">@Model.ExchangePlaceBestPink:F</span>]
    <span>@ev.ToString("0.0%") </span>
    <small class="text-lightblue">@Model.Bookmaker.ToString().ToLower().Substring(0, 2) </small>
</div>
