@using Betfair.ExchangeComparison.Domain.Extensions;
@model Betfair.ExchangeComparison.Pages.Models.CatalogViewModel;
@*@if (!string.IsNullOrEmpty(Model.Message))
    {
        <script>$(function () {
                $("#flash-message").flashMessage("Request to load Meeting Catalog Failed. Please contact support.");
            });</script>
    }*@
<a href="/football" class="btn btn-warning">Refresh</a>
<div class="row" style="min-height:100vh">
    <div class="col-12 mr-1 p-1 bg-dark">
        <div class="row">
            @foreach (var bestRunnerGrouped in Model.BestWinRunners
        .OrderBy(m => m.MarketDetail.marketType)
        .ThenBy(m => m.MarketDetail.marketStartTime)
        .GroupBy(m => m.MarketDetail.marketType))
            {
                <div class="col-2">
                    <div class="m-1 p-1 bg-secondary border rounded">

                        <h6 class="text-pink">@bestRunnerGrouped.Key</h6>

                        @foreach (var groupedRunner in @bestRunnerGrouped.GroupBy(r => r.Event.Name))
                        {
                            <div class="mb-2">
                                <span class="text-goldenrod text-lg">@groupedRunner.Key</span>
                                <span class="text-purple">
                                    @groupedRunner.First().MarketDetail.marketStartTime.ConvertUtcToBritishIrishLocalTime().ToString("HH:mm")
                                </span>

                                @foreach (var bestRunner in @groupedRunner.OrderByDescending(r => r.ExpectedValue))
                                {
                                    @await Html.PartialAsync("./BestWinRunnerPartial.cshtml", bestRunner)
                                }
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

